{% extends "la_gran_sombra/base.html" %}
{% block js %}
    {{ block.super }}
    <script>
        $('#timer_form_btn').click(function(e) {
            e.preventDefault();
            var minutes = $('#id_minutes').val();
            setTimeout(function(){
                alert("Levantate guachin!");
                $('#timer_form').submit()
            }, (minutes * 60000));
            var counter = 0;
            setInterval(function() {
                counter += 1;
                console.log(counter);
            }, 1000)
        });
    </script>
{% endblock js %}

{% block content %}

    <form id="timer_form" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="timer_form_btn" class="hide"></button>
    </form>

{% endblock content %}

