{% extends "la_gran_sombra/base.html" %}

{% block content %}

    <form id="timer_form" action="" method="POST">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="center">
                <div class="row fluid">
                    <div class="btn btn-primary btn-lg boton sombra" id="suma"><h1>+</h1></div>
                    <div class="btn btn-primary btn-lg boton sombra" id="resta"><h1>-</h1></div>
                </div>
                <div class="row fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form.as_p }}
                    </div>
                </div>
                <div class="row">
                    <button id="play" class="btn btn-primary btn-lg boton sombra"><span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}

