body{
	background: #CCC;
}
.container{
	min-width: 350px;
	min-height: 350px;
}
.salida{
	position: absolute; z-index: 1;
	font-size: 2em;
}
fieldset{
	margin-top: 10%;
	font-family: vsprofit;
	color:#2EDE36;
	background-color:#743F3F; 
}
.red{
	color:#A53C3C;
}
.redondo{
	margin-top: 5%;
	width:500px;
	height: 500px;
	background: black;
	color: grey;
	border-radius: 50%;
	-moz-border-radius: 50%;
	}
.maschico{
	width: 100px;
    height: 100px;
    margin-right: 5%;
    font-size: 10rem;
    display: float;
    position: left;
}

#texto{
    position: absolute;
    margin-top: 6%;
    margin-left: 12%;
    font-size: 20rem;
}
@font-face{
	font-family: vsprofit;
	src:url(/static/fonts/V5PRD___.TTF);
}
.input-timer{
	height: 200px;
	background: #67D76C;
	font-size: 15rem;
	font-family:monospace;
	text-align:center;
}
.margen{
	margin-top: 100px;
}
.sombra{
	border-radius: 0;
	-moz-box-shadow:    10px 10px 10px 2px #000;
    -webkit-box-shadow: 10px 10px 10px 2px #000;
    box-shadow:         10px 10px 10px 2px #000;
}
.boton{
	margin:10px 10px 0px 20px;
}
#play{
	height: 120px;
}
.logif{
	height: 200px;
	opacity: 0.40; 
}